<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Usuários</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../styles/index.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <script src="../scripts/listUsuario.js" type="module" defer></script>
</head>

<body>
    <header class="header">
        <nav>
            <a href="./listUsuario.html">Usuários</a>
            <a href="./listCliente.html">Clientes</a>
            <a href="./listVenda.html">Vendas</a>
            <a href="../index.html">Sair</a>

        </nav>
    </header>

    <h3 class="container">Usuários</h3>
    <table id="tabelaUsuarios">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Nome</th>
                <th>Login</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                
            <tr>
        </tbody>
    </table>
</body>

</html>